body {
  background-color: #EAE8ED;
  width: 80%;
  margin: 0 auto;
}

header {
  margin: 20px;
  display:flex
}

.logo {
  width: 150px;
  height: 150px;
}

h1 {
  font-weight: bold;
  font-size: 45px;
  font-family: sans-serif;
}


/* insertクラスのStyleSheet設定 */
.insert {
  padding: 3%;
  background-color: #fff7be;
  border-radius: 15px;
}

.insertForm {
  font-size: 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { /* スピンボタン非表示 */
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

button {
  font-size: 20px;
}

input[type="number"], #calc {
  font-size: 30px;
  padding: 3px;
}

/* ラジオぼたんのStyleSheet設定は削除 */


/* tableクラスのStyleSheet設定 */
.table {
  margin: 5%;
  font-size: 18px;
  font-family: sans-serif;
}

.noteImage {
  width: 90%;
  height: 90%;
  vertical-align: middle;
}

.imageCell { /* div要素 */
  width: 45px;
  text-align: center;
}
